/data/mesc_sox2
/data/mbrain
/data/mesc
/jie/__pycache__
/results
/jie.egg-info
/jupyter/__pycache__
/jupyter/.ipynb_checkpoints
/data/npy/dipc/Astro
/data/npy/dipc/Inter
/data/npy/dipc/Micro
/data/npy/dipc/Oligo
/data/params/.ipynb_checkpoints
